@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
  --nav-color: #a370bf;
  --bg-color: #37386f;
  --font-color: #ccdbdc;
  --hover-color: #6f7dda;
  --accent-color: #e06b73;
  --default-font: "Cause";
}

@layer base {
  body {
    background: var(--bg-color);
    height: 100vh;
  }
  .page-content {
    @apply mx-24;
  }
  h1 {
    @apply text-4xl mt-10 text-center font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
}

.item-menu:hover {
  background: var(--hover-color);
  border-radius: 20px;
  @apply transition-all shadow-black shadow-2xs;
}

.active {
  @apply border-2 rounded-2xl border-(--hover-color);
}

.bordered {
  @apply border-2 border-(--accent-color) mt-10 rounded-xl p-10;
}
